@tailwind base;
@tailwind components;
@tailwind utilities;

.remark-container {
  @apply bg-slate-950;
}

.remark-slide-scaler {
  @apply shadow-none;
}

.remark-slide-content.intro {
  @apply prose prose-p:my-2 prose-p:text-xl prose-h1:mb-4;
}

.remark-slide-content {
  @apply prose prose-p:text-2xl prose-li:text-2xl prose-img:my-1;
}

.contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
}
